/* html / jquery example */

<style>
    .tb_default {
        width: 1100px;
        border: 1px solid;
    }
    .linkarea {

    }
</style>

<!-- tab style -->
<style>
    .tabWrap { width: 1000px; height: 700px; }
    .tab_Menu { margin: 0px; padding: 0px; list-style: none; }
    .tabMenu { width: 150px; margin: 0px; text-align: center;
                padding-top: 10px; padding-bottom: 10px; float: left; }
    .tabMenu a { color: #000000; font-weight: bold; text-decoration: none; }
    .current { background-color: #FFFFFF;
                border: 1px solid blue; border-bottom:hidden; }
    .tabPage { width: 900px; height: 600px; float: left;
                border: 1px solid blue; }
</style>

<!-- table style -->
<style>
    .custom_table {
        width : 100%;
        border-collapse : collapse;
        border-spacing : 0px 0px;
        border : 1px solid #7f7f7f;
        text-align : center;
    }

    .custom_table th {
        padding : 0px;
        spacing : 0px;
        border : 1px solid #7f7f7f;
        text-align : center;
    }
    .custom_table td {
        padding : 0px;
        spacing : 0px;
        border : 1px solid #7f7f7f;
        text-align : center;
    }
    .custom_table tr {
        padding : 0px;
        spacing : 0px;
        border : 1px solid #7f7f7f;
        text-align : center;
    }

</style>

<html>
    <head>
    <title></title>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- for google chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body>
        <!-- Portfolio Table -->
        <table id="PortfolioTable" classe=custom_table>
            <thead id="PortfolioTable_head">
                <tr>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> No</th>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> Market</th>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> ID</th>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> Trade Mode</th>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> Config Index</th>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> P_Min</th>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> P_Max</th>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> P_Start</th>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> P_Step</th>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> P_Start_Direction</th>
                    <th style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> Trade 적용</th>
                </tr>
            </thead>
            <tbody id="PortfolioTable_body">
            </tbody>
        </table>

        <!-- Configuration Table -->
        <table id="ConfigTable" classe=custom_table>
            <thead id="ConfigTable_head">
                <tr>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> 종목</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> ID</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> 동작모드</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> Algorithm</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> 기준가격</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> Status</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> 동작주기</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> New Slot(%)</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> Add BidAsk(%)</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> 수익실현(%)</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> Max Slot</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> Max BidAsk</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> KRW 제한</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> Coin 제한</th>
                    <th colspan="10" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> 투입비중(KRW(천원) or Coin</th>
                    <th rowspan="2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold"> 설정값적용</th>
                </tr>
                <tr>
                    <th id="BidAsk0" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold">0</th>
                    <th id="BidAsk1" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold">1</th>
                    <th id="BidAsk2" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold">2</th>
                    <th id="BidAsk3" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold">3</th>
                    <th id="BidAsk4" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold">4</th>
                    <th id="BidAsk5" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold">5</th>
                    <th id="BidAsk6" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold">6</th>
                    <th id="BidAsk7" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold">7</th>
                    <th id="BidAsk8" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold">8</th>
                    <th id="BidAsk9" style="text-align: center; background-color: rgb(217,217,217); font-weight: bold">9</th>
                </tr>
            </thead>
            <tbody id="ConfigTable_body">
                <tr id="market_1">
                    <!--
                    <td>EOS</td><td>1</td><td>Reverse</td><td>run</td><td>15</td><td>2</td><td>10</td><td>1</td><td>30</td><td>5</td><td>10,000,000</td><td>1000</td><td>1</td><td>8,000</td>
                    <td>20</td><td>20</td><td>20</td><td>20</td><td>20</td><td>20</td><td>20</td><td>20</td><td>20</td><td>20</td> -->
                </tr>
                <tr id="market_2">
                </tr>
                <tr id="market_3">
                </tr>
                <tr id="market_4">
                </tr>
            </tbody>
        </table>
    </body>
</html>


<!--
    JQUERY : https://www.w3schools.com/jquery/default.asp
    Jquery Selector
    1. Element Selector : $("tag") - $("body"), $("p")
    2. #id Selector : $("#idname") - $("#button1")
    3. .class Selector : $(".classname") - $(".clsname")
    $("*")	Selects all elements	
    $(this)	Selects the current HTML element	
    $("p.intro")	Selects all <p> elements with class="intro"	
    $("p:first")	Selects the first <p> element	
    $("ul li:first")	Selects the first <li> element of the first <ul>	
    $("ul li:first-child")	Selects the first <li> element of every <ul>	
    $("[href]")	Selects all elements with an href attribute	
    $("a[target='_blank']")	Selects all <a> elements with a target attribute value equal to "_blank"	
    $("a[target!='_blank']")	Selects all <a> elements with a target attribute value NOT equal to "_blank"	
    $(":button")	Selects all <button> elements and <input> elements of type="button"	
    $("tr:even")	Selects all even <tr> elements	
    $("tr:odd")	    Selects all odd <tr> elements

    object define
    var obj = $('<tagname>')
    obj.css().attr().attr()
-->

<script type="text/javascript">
    var pf = {}; 
    var config_filename = {};



    //$(document).ready(function() {  // long syntax
    $(function() {        // short syntax
        //CreateTable("ConfigurationTable_body", plistx, plisty);
        Create_PortfolioTable("PortfolioTable");
        Create_ConfigTable("ConfigTable_body", xlabel, ylabel);
    });

    function buttton1_handler()
    {
        alert("Hello world!!!!");
    }

    function setDivLinks()
    {
        $('div.linkarea').each(function(){
            let link = $(this).attr("clicklink");
            if(link != undefined && link != "")
            {
                $(this).css("cursor", "pointer").click(function(){
                    window.open($(this).attr("clicklink"));
                })
            }
        });
    }

    
    async function Create_PortfolioTable(table_ID)
    {
        //var pf = { "KRW-EOS_ID1": [ "R", 2, 6500, 10000, 10, 8000, false ], "KRW-EOS_ID2": [ "R", 4, 6500, 10000, 10, 8000, false ], "KRW-EOS_ID3": [ "N", 2, 6500, 10000, 10, 8000, false ], "KRW-EOS_ID4": [ "N", 4, 6500, 10000, 10, 8000, false ] }
        pf = await get_PortfolioLists("portfolio_list.json");
        console.log("PF = ", JSON.stringify(pf));
        let index = 0;
        for (key in pf)
        {
            index++;
            var obj = "#" + table_ID + " > tbody";
            let market = key.split('_')[0];
            let marketID = key.split('_')[1];
            let trademode = pf[key][0];
            let configindex = pf[key][1];
            let p_min = pf[key][2];
            let p_max = pf[key][3];
            let p_step = pf[key][4];
            let p_start = pf[key][5];
            let p_direction = pf[key][6];

            if(config_filename.hasOwnProperty(market) == false) { config_filename[market] = {}; }
            if(config_filename[market].hasOwnProperty(marketID) == false) { config_filename[market][marketID] = {}; }
            config_filename[market][marketID] = "Config[" + market + "][" + marketID + "].json";

            console.log("key = ", key, "market = ", market, "marketID = ", marketID, "configindex = ", configindex, "p_min = ", p_min, "p_max = ", p_max,
                        "p_start = ", p_start, "p_step = ", p_step, "p_direction = ", p_direction);

            let id_name = "trade_instance" + index.toString()
            let newtr = $(obj).append($("<tr>").css("text-align","center").text('').attr("id", id_name));
            newtr.append($("<td>").css("text-align","center").text(index));    
            newtr.append($("<td>").css("text-align","center").text(market));    
            newtr.append($("<td>").css("text-align","center").text(marketID));    
            newtr.append($("<td>").css("text-align","center").text(trademode));    
            newtr.append($("<td>").css("text-align","center").text(configindex));    
            newtr.append($("<td>").css("text-align","center").text(p_min));    
            newtr.append($("<td>").css("text-align","center").text(p_max));    
            newtr.append($("<td>").css("text-align","center").text(p_start));    
            newtr.append($("<td>").css("text-align","center").text(p_step));    
            newtr.append($("<td>").css("text-align","center").text(p_direction));    
        }
    }


    let portfolio_list = ["KRW-EOS", "KRW-XRP", "KRW-BTC", "KRW-ETH", "KRW-BCH"];
    var xlabel = ["market", "ID", "mode", "algorithm", "base_price", "status", "period", "newslot_ratio", "bidask_ratio", "target_ratio", "max_slot_cnt", "max_bidask_cnt", "limit_KRW", "limit_Coin"
        , "amount0", "amount1", "amount2", "amount3", "amount4", "amount5", "amount6", "amount7", "amount8", "amount9", "applay_cfg"];
    var ylabel = ["instance1", "instance2", "instance3", "instance4"];
    var trade_mode = ["normal", "reverse"];
    var control_mode = ["stop", "run"];
    var algorithm = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ];
    var config_param = {};

    async function Create_ConfigTable(table_bodyID, xlabel, ylabel)
    {
        var index = 0;
        var selecterID = "#" + table_bodyID + " > tr";
        //alert(selecterID);
        $(selecterID).each(function () {
            //$("#ConfigurationTable_body > tr").each(function () {
            createTds(index++, $(this), xlabel, ylabel);
        });

        //var pf = { "KRW-EOS_ID1": [ "R", 2, 6500, 10000, 10, 8000, false ], "KRW-EOS_ID2": [ "R", 4, 6500, 10000, 10, 8000, false ], "KRW-EOS_ID3": [ "N", 2, 6500, 10000, 10, 8000, false ], "KRW-EOS_ID4": [ "N", 4, 6500, 10000, 10, 8000, false ] }
        var pf = {};
        pf = await get_PortfolioLists("portfolio_list.json");

        index = 0;
        for (key in pf)
        {
            index++;
            let market = key.split('_')[0];
            let marketID = key.split('_')[1];
            let config = {}
            //get_ConfigParam(config_filename[market][marketID]).then((data) => { console.log("OK = ", data)}).catch((error) => { console.log("catch error = ", error)});
            config = await get_ConfigParam(config_filename[market][marketID]); 

            if(config['errno'] == undefined)
            {
                if(config_param.hasOwnProperty(market) == false) { config_param[market] = {}; }
                if(config_param[market].hasOwnProperty(marketID) == false) { config_param[market][marketID] = {}; }
                config_param[market][marketID] = config;

                let market_list_index = portfolio_list.indexOf(market);
                makeListBox("#Cell_instance" + index.toString() + "_market", "market" + index.toString(), portfolio_list, ListBox_handleChange, "css_style1", "width: 90px", market_list_index, "single", 1);
                makeInputBox("#Cell_instance" + index.toString() + "_ID", "ID" + index.toString(), "text", marketID, "css_style1", "width: 70px", 5000, 1000000, 10, InputBoxHandler);

                let trade_mode_index = trade_mode.indexOf(config['trade_mode']);
                makeListBox("#Cell_instance" + index.toString() + "_mode", "mode" + index.toString(), trade_mode, ListBox_handleChange, "css_style1", "width: 70px", trade_mode_index, "single", 1);

                let algorithm_index = algorithm.indexOf(config['restart_flag']);
                makeListBox("#Cell_instance" + index.toString() + "_algorithm", "algorithm" + index.toString(), algorithm, ListBox_handleChange, "css_style1", "width: 80px", algorithm_index, "single", 1);
                makeInputBox("#Cell_instance" + index.toString() + "_base_price", "base_price" + index.toString(), "number", config['restart_base_price'], "css_style1", "width: 70px", 1000, 50000000, 10, InputBoxHandler);

                let control_mode_index = control_mode.indexOf(config['control_mode']);
                makeListBox("#Cell_instance" + index.toString() + "_status", "status" + index.toString(), control_mode, ListBox_handleChange, "css_style1", "width: 70px", control_mode_index, "single", 1);


                makeInputBox("#Cell_instance" + index.toString() + "_period", "period" + index.toString(), "number", config['check_period'], "css_style1", "width: 70px", 1, 120, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_newslot_ratio", "newslot_ratio" + index.toString(), "number", config['new_slot_Create_Ratio'], "css_style1", "width: 100px", -15, 15, 0.01, InputBoxHandler);
                
                makeInputBox("#Cell_instance" + index.toString() + "_bidask_ratio", "bidask_ratio" + index.toString(), "number", config['new_addBidAsk_Create_Ratio'], "css_style1", "width: 100px", -30, 30, 0.01, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_target_ratio", "target_ratio" + index.toString(), "number", config['target_BidAsk_Ratio'], "css_style1", "width: 100px", -20, 20, 0.01, InputBoxHandler);

                makeInputBox("#Cell_instance" + index.toString() + "_max_slot_cnt", "max_slot_cnt" + index.toString(), "number", config['max_slot_cnt'], "css_style1", "width: 70px", 1, 1000, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_max_bidask_cnt", "max_bidask_cnt" + index.toString(), "number", config['max_addBidAsk_cnt'], "css_style1", "width: 100px", 1, 20, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_limit_KRW", "limit_KRW" + index.toString(), "number", config['limit_invest_KRW'], "css_style1", "width: 80px", 1000, 100000000, 10000, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_limit_Coin", "limit_Coin" + index.toString(), "number", config['limit_invest_coin'], "css_style1", "width: 80px", 500, 50000, 100, InputBoxHandler);
                
                makeInputBox("#Cell_instance" + index.toString() + "_amount0", "amount0_" + index.toString(), "number", config['slot_BidAsk_KrwCoin'][0], "css_style1", "width: 50px", 1, 1000, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_amount1", "amount1_" + index.toString(), "number", config['slot_BidAsk_KrwCoin'][1], "css_style1", "width: 50px", 1, 1000, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_amount2", "amount2_" + index.toString(), "number", config['slot_BidAsk_KrwCoin'][2], "css_style1", "width: 50px", 1, 1000, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_amount3", "amount3_" + index.toString(), "number", config['slot_BidAsk_KrwCoin'][3], "css_style1", "width: 50px", 1, 1000, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_amount4", "amount4_" + index.toString(), "number", config['slot_BidAsk_KrwCoin'][4], "css_style1", "width: 50px", 1, 1000, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_amount5", "amount5_" + index.toString(), "number", config['slot_BidAsk_KrwCoin'][5], "css_style1", "width: 50px", 1, 1000, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_amount6", "amount6_" + index.toString(), "number", config['slot_BidAsk_KrwCoin'][6], "css_style1", "width: 50px", 1, 1000, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_amount7", "amount7_" + index.toString(), "number", config['slot_BidAsk_KrwCoin'][7], "css_style1", "width: 50px", 1, 1000, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_amount8", "amount8_" + index.toString(), "number", config['slot_BidAsk_KrwCoin'][8], "css_style1", "width: 50px", 1, 1000, 1, InputBoxHandler);
                makeInputBox("#Cell_instance" + index.toString() + "_amount9", "amount9_" + index.toString(), "number", config['slot_BidAsk_KrwCoin'][9], "css_style1", "width: 50px", 1, 1000, 1, InputBoxHandler);
                
                makeButton("#Cell_instance" + index.toString() + "_applay_cfg", "apply_cfg_Btn" + index.toString(), "Apply CFG", ButtonClickhandler, "css_style1", "width: 100px");
            }
            else
            {
                console.log("can't read file.....................")
            }
        }
    }


    function createTds(index, obj, xlabel, ylabel) 
    {
        var cellname = "";
        for(var i = 0; i < xlabel.length; i++)
        {
            cellname = "Cell_" + ylabel[index] +"_"+ xlabel[i];
            //obj.append($("<td>").css("text-align","center").html('<a href = "https://www.naver.com" target = "_blank">0</a>').attr("statusname", cellname));
            //obj.append($("<td>").css("text-align","center").text('-').attr("cellname", cellname));
            obj.append($("<td>").css("text-align","center").text("").attr("id", cellname));
        }
    }

    function attachWidgetToTable(tdID, WidgetCategory) 
    {
        let accessID = "#" + tdID;

        switch(WidgetCategory)
        {
            case "ListBox" : 
                let ht = '<div><select id = selectbox1 name="single_selection"><option value="volvo">A</option><option value="saab">B</option><option value="opel" selected="selected">C</option><option value="audi">D</option></select></div>'
                $(accessID).text('').append(ht);
                break;
            
        }
    }


    function makeListBox(ParentID, ID, datalist, callback, classID, style, defaultIndex, option, size)
    {
        /*
        let result = $('<div><select>');
        //result = result.find('select').attr("id", "selecterID").attr("size", 5).attr("multiple", "multiple").attr("style", "width: 200px").append("<option value = a>aa").attr("selected", "selected").append("<option value = b>BB");
        result.find('select').attr("id", "selecterID").append("<option value = a>aa").attr("selected", "selected").append("<option value = b>BB");
        $('#Cell_max_slot_cnt_P3').append(result);
        */
        var Obj = null;
        Obj = $('<div><select>')
        if(option == "multiple") { Obj.find('select').attr("size", size).attr("id", ID).attr("class", classID).attr("style", style).attr("multiple", "multiple"); }
        else { Obj.find('select').attr("size", size).attr("id", ID).attr("class", classID).attr("style", style); }
 
        let finalhtml = "";
        for(i = 0; i < datalist.length; i++)
        {
            if(i == defaultIndex) { html = "<option value=" + datalist[i] + " selected=selected>" + datalist[i]; } else { html = "<option value="+datalist[i] + ">" + datalist[i]; }
            finalhtml += html;
        }
        Obj.find('select').append(finalhtml);
        // on binding
        Obj.find('select').bind("change", function() { return callback(this, datalist); });
        $(ParentID).append(Obj);
    }

    /*
    List Box onchange Callback.... Event 종류 참조 : https://heavening.tistory.com/23
    */

    function ListBox_handleChange (self, itemList) 
    {
        //console.log("ListBox_handleChange = ", self);
        for(i = 0; i < itemList.length; i++)
        {
            if(self[i].selected) { console.log("Selected Item[", i, "] = ", self[i].value); }
        }
    }

    /*
    get selected item value from listbox....
    */
    function getListBox_values(id) 
    {
        id = "#" + id;
        console.log(id);
        let Obj = $(id).find('option');
        console.log(Obj);
        let selval = [];
        let j = 0;
        for(i = 0; i < Obj.length; i++)
        {
            if(Obj[i].selected) 
            { 
                //console.log("[getListBox_values] Selected Item[", i, "] = ", Obj[i].value); 
                selval.push(Obj[i].value); 
            }
        }
        console.log("Selected Items in ListBox is ", selval);
        if(selval.length == 1) { return selval[0]; }
        return selval;
    }



    /*
    Button 생성
    <div">
        <button id = button1, type="button" onclick=buttton1_handler()>Button1</button>
    </div>
    */
    function makeButton(ParentID, ID, Name, callback, classID, style)
    {
        var Obj = $('<div><button>');
        Obj.find('button').attr("id", ID).attr("class", classID).attr("style", style).attr("typpe", "button").text(Name);
        Obj.find('button').bind("click", function() { return callback(this, ID); }); 
        $(ParentID).append(Obj);
    }

    /*
    Button Click Handler.......
    */
    function ButtonClickhandler(self, ID)
    {
        console.log(" ButtonClickhandler = ", self);
        console.log("Button ID = ", ID);
        let instance = ID.replace("apply_cfg_Btn", "");
        instance = instance*1;
        let marketlist = Object.keys(pf);
        console.log("marketlist = ", marketlist, " instance = ", instance);
        let instance_name = marketlist[instance-1];
        console.log("instance_name =", instance_name);
        let market = instance_name.split('_')[0];
        let marketID = instance_name.split('_')[1];
        let cur_config = JSON.parse(JSON.stringify(config_param[market][marketID]));
        let user_config = JSON.parse(JSON.stringify(config_param[market][marketID]));
        let NeedtoUpdate = false;
        console.log("cur_config = ", cur_config);

        //{"trade_mode":"reverse","control_mode":"run","simulation":true,"real_test_mode":false,"check_period":15,"slot_BidAsk_KrwCoin":[30,30,30,30,30,30,30,30,30,30],
        //"max_slot_cnt":30,"max_addBidAsk_cnt":4,"target_BidAsk_Ratio":1.5,"target_BidAsk_Ratio_adj":0.1,"new_slot_Create_Ratio":1,"new_slot_Create_Ratio_adj":0,"new_addBidAsk_Create_Ratio":18,
        //"new_addBidAsk_Create_Ratio_adj":0.1,"restart_flag":3,"restart_base_price":8300,"limit_invest_coin":1000,"limit_invest_KRW":10000000,"minimum_order_KRW":500,"minimum_order_coin":0.1}
        user_config['trade_mode'] = getListBox_values("mode"+instance);
        user_config['restart_flag'] = getListBox_values("algorithm"+instance) * 1;
        user_config['restart_base_price'] = getInputBox_values("base_price"+instance);
        user_config['control_mode'] = getListBox_values("status"+instance);
        user_config['check_period'] = getInputBox_values("period"+instance);

        user_config['new_slot_Create_Ratio'] = getInputBox_values("newslot_ratio"+instance);
        user_config['new_addBidAsk_Create_Ratio'] = getInputBox_values("bidask_ratio"+instance);
        user_config['target_BidAsk_Ratio'] = getInputBox_values("target_ratio"+instance);
        user_config['max_slot_cnt'] = getInputBox_values("max_slot_cnt"+instance);
        user_config['max_addBidAsk_cnt'] = getInputBox_values("max_bidask_cnt"+instance);
        user_config['limit_invest_KRW'] = getInputBox_values("limit_KRW"+instance);
        user_config['limit_invest_coin'] = getInputBox_values("limit_Coin"+instance);

        user_config['slot_BidAsk_KrwCoin'][0] = getInputBox_values("amount0_"+instance);
        user_config['slot_BidAsk_KrwCoin'][1] = getInputBox_values("amount1_"+instance);
        user_config['slot_BidAsk_KrwCoin'][2] = getInputBox_values("amount2_"+instance);
        user_config['slot_BidAsk_KrwCoin'][3] = getInputBox_values("amount3_"+instance);
        user_config['slot_BidAsk_KrwCoin'][4] = getInputBox_values("amount4_"+instance);
        user_config['slot_BidAsk_KrwCoin'][5] = getInputBox_values("amount5_"+instance);
        user_config['slot_BidAsk_KrwCoin'][6] = getInputBox_values("amount6_"+instance);
        user_config['slot_BidAsk_KrwCoin'][7] = getInputBox_values("amount7_"+instance);
        user_config['slot_BidAsk_KrwCoin'][8] = getInputBox_values("amount8_"+instance);
        user_config['slot_BidAsk_KrwCoin'][9] = getInputBox_values("amount9_"+instance);

        console.log("usr_config", instance, "  = ", user_config);

        for(key in cur_config)
        {
            if(key == 'slot_BidAsk_KrwCoin')
            {
                for(i = 0; i < cur_config[key].length; i++)
                {
                    console.log("key = ", key, "index = ", i, " Org = ", cur_config[key][i], " User = ", user_config[key][i]);
                    if(cur_config[key][i] != user_config[key][i]) { NeedtoUpdate = true; console.log("Data is changed................... = ", key)}
                }
            }
            else
            {
                console.log("key = ", key, " Org = ", cur_config[key], " User = ", user_config[key]);
                if(cur_config[key] != user_config[key]) { NeedtoUpdate = true; console.log("Data is changed................... = ", key)}
            }
        }

        if(NeedtoUpdate) 
        {
            console.log("Data is changed...................") 
            Update_ConfigParam(config_filename[market][marketID], user_config); 
        }
    }

    /*
    text input box
    <div id = "text field example">
        Text field Input : <input type="text" id="msginput", name="member_name" value="text를 입력하세요...">
        Text field Input : <input type="number" id="msginput", name="member_name" value="text를 입력하세요...">
    </div>
    */
    function makeInputBox(ParentID, ID, type, defaultstr, classID, style, min, max, step, callback)
    {
        var Obj = $('<div><input>');
        Obj.find('input').attr("type", type).attr("id", ID).attr("class", classID).attr("style", style).val(defaultstr);
        if(type === "number") 
        { 
            Obj.find('input').attr('min', min).attr('max', max).attr('step', step);
            //Obj.find('input').bind("keyup", function() { return callback(this, min, max); });
            Obj.find('input').bind("focusout", function() { return callback(this, min, max); });
        }
        $(ParentID).append(Obj);
    }


    function InputBoxHandler(self, min, max)
    {
        //console.log("InputBoxHandler = ", self);
        if(self.value < min ) { self.value = min; console.log("force fix min value"); }
        if(self.value > max ) { self.value = max; console.log("force fix max value"); }
    }


    /*
    get value from inputbox....
    */
    function getInputBox_values(id) 
    {
        console.log("id = ", id);
        id = "#" + id;
        let Obj = $(id)
        console.log(Obj);
        console.log("Input Box value is ", Obj[0].value);
        return Obj[0].value * 1;
    }



    function Update_ConfigParam(filename, config)
    {
        console.log("filename = ", filename, "config = " , config);
        let senddata = { name : filename, cfg : config };

        let settings = {
            async : true,
            crossDomain : true,
            url : "http://localhost:7000/config/updatecfg",
            method : "POST",
            headers : {
                "Content-Type": "application/json",
            },
            data : JSON.stringify(senddata), 
            success : function (result) { console.log(" upload suceess!!! = ", result); },
            error : function (error) { console.log(" upload fail!!! = ", error); }
        }

        $.ajax(settings).done(function (response) {
            console.log("Respones... : ", response);
        });
    }

    
    function Update_ConfigParamDB(modifed_config)
    {
        let ConfigParams = 
        { 
            max_slot_cnt : 0,
            slot_1st_Bid_KRW : 0, 
            slot_2nd_Bid_KRW : 0, 
            check_period : 0,
            retry_cnt : 0,
            retry_delaysec : 0,
            target_rate : 0,
            target_rate_adj : 0,
            new_slot_create_ratio : 0,
            new_slot_create_ratio_adj : 0,
            max_add_bid_cnt : 0,
            status : 0,
        };
        
        let index = ID.replace("submitBtn", '');
        let keyID = getListBox_values("portf"+index);
        console.log("keyID = ", keyID);
        ConfigParams['max_slot_cnt'] = getListBox_values("slotcnt"+index);
        ConfigParams['slot_1st_Bid_KRW'] = getInputBox_values("firstbidKRW"+index);
        ConfigParams['slot_2nd_Bid_KRW'] = getInputBox_values("secondbidKRW"+index);
        ConfigParams['check_period'] = getInputBox_values("checkperiod"+index);
        ConfigParams['retry_cnt'] = getInputBox_values("retrycnt"+index);
        ConfigParams['retry_delaysec'] = getInputBox_values("retry_delaysec"+index);
        ConfigParams['target_rate'] = getInputBox_values("target_rate"+index);
        ConfigParams['target_rate_adj'] = getInputBox_values("target_rate_ajd"+index);
        ConfigParams['new_slot_create_ratio'] = getInputBox_values("new_slot_create_ratio"+index);
        ConfigParams['new_slot_create_ratio_adj'] = getInputBox_values("new_slot_create_ratio_adj"+index);
        ConfigParams['max_add_bid_cnt'] = getInputBox_values("max_add_bid_cnt"+index);
        //ConfigParams['status'] = getListBox_values("status"+index);

        let jsonObj = { };
        let indexID = "ID" + index;
        jsonObj[keyID] = { };
        jsonObj[keyID][indexID] = { 'marketID' : keyID + "_" + indexID, inserted_at : 0, config : ConfigParams };
        console.log("jsonObj = ", JSON.stringify(jsonObj));

        let CRUD_url = "";
        let CRUD_method = "";
        if(index == 7) // PUT : update
        {
            CRUD_url = "http://10.186.115.57:7000/config/post";
            CRUD_method = "PUT"
        }
        else
        {
            CRUD_url = "http://10.186.115.57:7000/config/update";
            CRUD_method = "PUT"
        }

        let settings = {
            async : true,
            crossDomain : true,
            url : CRUD_url,
            method : CRUD_method,
            headers : {
                "Content-Type": "application/json",
            },
            //data : JSON.stringify(ConfigParams), 
            data : JSON.stringify(jsonObj), 
            success : function (result) { console.log("CRUD_Index] = ", index, " upload suceess!!! = ", result); },
            error : function (error) { console.log("CRUD_Index] = ", index, " upload fail!!! = ", error); }
        }

        $.ajax(settings).done(function (response) {
            console.log("Respones... : ", response);
        });
    }

    
    function get_ConfigParam(filename)
    {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://localhost:7000/config/configparam",
            "method": "GET",
            "headers": {
                "Content-Type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache",
            },
            data : { 'configfile' : filename },
            /*
            success : function (data) { console.log("ajax success : config filename = ", filename, " data = ", data); },
            error : function (error) { console.log("ajax error = ", error); },
            complete  : function (data) { console.log("ajax complete = ", data);  },
            */
        }

        return new Promise(function (resolve, reject)
        {
            $.ajax(settings).done(function (response) {
                console.log("ajax done : config filename = ", filename, " param = ", response);
                resolve(JSON.parse(response));
            }).fail(function(error) {
                console.log("ajax fail = ", error);
                reject(JSON.parse(error));
            }).always(function (data) { 
                 //console.log("ajax always = ", data); 
            })
        });
    }



    function get_PortfolioLists(filename)
    {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://localhost:7000/config/portfoliolists",
            "method": "GET",
            "headers": {
                "Content-Type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache",
            },
            data : { 'filename' : filename },
            /*
            success : function (data) { console.log("ajax success : portfolio filename = ", filename, " data = ", data); },
            error : function (error) { console.log("ajax error = ", error); },
            complete  : function (data) { console.log("ajax complete = ", data);  },
            */
        }

        return new Promise(function (resolve, reject)
        {
            $.ajax(settings).done(function (response) {
                console.log("ajax done : portfolio filename = ", filename, " param = ", response);
                resolve(JSON.parse(response));
            }).fail(function(error) {
                console.log("ajax portfoliolists fail = ", error);
                reject(JSON.parse(error));
            }).always(function (data) { 
                 console.log("ajax portfoliolists always = ", data); 
            })
        });
    }

</script>

